:root {
  --primery-color-text: var(--eerie-black);
  --secondary-color-text: var(--independence);

  --prymery-background-color: var(--while);
  --secondary-background-color: var(--ghost-white);

  --prymeri-border-color: var(--black);
  --secondary-border-color: var(--light-silver);

  --prymeri-news-color: var(--macaroni-and-cheese);
  --secondary-news-color: var(--indigo);
}

* {
  margin: 0;
  padding: 0;
  color: var(--primery-color-text);
}

body,
main {
  background: var(--prymery-background-color);
}

* {
  font-family: Inria Serif;
  font-weight: 400;
}

svg {
  width: 20px;
  height: 20px;
  stroke: black;
  stroke-width: 2;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary-background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primery-color-text);
  border-radius: 14px;
  border: 3px solid var(--secondary-background-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primery-color-text);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
