.headerAdminPage {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 2rem;
  gap: 1rem;
  width: 95%;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--secondary-border-color);
}

.buttonSectionHAP {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.itemActionHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--prymeri-border-color);
  padding: 0.2rem 0.9rem;
  background-color: var(--prymery-background-color);
  border-radius: 5px;
}

.itemActionHeader input {
  background: none;
  border: none;
  outline: none;
}
