.header {
  /* position: fixed; */
  width: calc(100% - 6%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5% 1%;
  border-bottom: 1px solid;
}

.logoIcon {
  width: 60px;
  stroke-width: 0.2;
}

.NameLogo {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}

.logoName {
  text-align: center;
  font-family: Judson;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
