.button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Type buttons */

.buttonVoid {
  background: none;
  border: none;
}
.buttonTypeOne {
  padding: 0.6rem 2rem;
  border: 1px solid #273b5e;
  border-radius: 10px;
  background-color: #af855b;
  color: white !important;
}
.buttonTypeOne:hover {
  border: 1px solid #af855b;
  border-radius: 10px;
  background-color: #273b5e;
  color: white;
}
.buttonTypeHeader {
  border: 1px solid var(--prymeri-border-color);
  padding: 0.2rem 0.9rem;

  background-color: var(--prymery-background-color);
  border-radius: 5px;
}
